@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  background: #0D1D38;
  overflow-x: hidden;
}

.App {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  background:
  linear-gradient(to bottom, rgba(13, 29, 56, .85), rgba(13, 29, 56, .8)),
  url(http://meganfoxstar.ru/_ph/87/784919443.jpg) center center no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.App-wrapper {
  width: 95%;
  max-width: 1024px;
}

h1 {
  font-size: 26px;
}

@media (max-width: 700px) {
  .App-wrapper {
    width: 100%;
    max-width: 1024px;
  }

  .App {
    /* background-size: contain; */
    height: 36vh;
  }
}